@font-face {
  font-family: 'Myriad Pro Light Condensed';
  src: url("../fonts/MyriadPro-LightCond.eot");
  src: url("../fonts/MyriadPro-LightCond.eot") format("embedded-opentype"), url("../fonts/MyriadPro-LightCond.woff") format("woff"), url("../fonts/MyriadPro-LightCond.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Myriad Pro Bold';
  src: url("../fonts/MyriadPro-Bold.eot");
  src: url("../fonts/MyriadPro-Bold.eot") format("embedded-opentype"), url("../fonts/MyriadPro-Bold.woff") format("woff"), url("../fonts/MyriadPro-Bold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Rokkitt';
  src: url("../fonts/rokkitt.ttf");
  src: url("../fonts/rokkitt.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Quicksand Regular';
  src: url("../fonts/Quicksand-Regular.eot");
  src: url("../fonts/Quicksand-Regular.eot") format("embedded-opentype"), url("../fonts/Quicksand-Regular.woff") format("woff"), url("../fonts/Quicksand-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

body {
  font-family: 'Myriad Pro Light Condensed';
  background: url("../img/back/bg-light-4860.png") repeat; }

.wrap {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  overflow: hidden; }

.main {
  width: 100%;
  height: 100vh;
  max-height: 770px;
  background: url("../img/back/main-back.jpg") no-repeat center;
  background-size: cover;
  position: relative; }
  .main__header {
    width: 80%;
    height: 120px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-transform: uppercase; }
    .main__header--close {
      position: absolute;
      top: 10px;
      right: 10px;
      color: #fff;
      font-size: 1.3em; }
      .main__header--close:hover {
        cursor: pointer; }
    .main__header--logo {
      text-decoration: none;
      font-size: 1.4em;
      color: #fff;
      font-weight: bold; }
    .main__header--burger {
      font-size: 2em;
      color: #fff; }
      .main__header--burger:hover {
        cursor: pointer; }
    .main__header--menu {
      position: absolute;
      top: -100%;
      right: 0;
      width: 100%;
      height: 120px;
      box-shadow: 0px 0px 0px 15px rgba(26, 188, 156, 0.5);
      background: linear-gradient(to right, rgba(26, 188, 156, 0.6), #1abc9c);
      list-style: none;
      transition: 0.2s ease-in-out; }
      .main__header--menu-active {
        top: 0; }
    .main__header--inner {
      width: 80%;
      height: 120px;
      margin: 0 auto;
      display: flex;
      justify-content: flex-end;
      align-items: center; }
    .main__header--item {
      display: inline-block;
      margin-right: 30px; }
      .main__header--item:last-child {
        margin-right: 0; }
    .main__header--link {
      color: #fff;
      font-weight: bold;
      font-size: 1.3em;
      text-decoration: none; }
      .main__header--link:hover {
        text-decoration: underline; }
      .main__header--link-blue {
        color: #000; }
  .main__textplace {
    width: 55%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #fff; }
    .main__textplace--title {
      border-bottom: 1px solid #fff;
      font-family: 'Rokkitt';
      font-weight: 500;
      font-size: 60px;
      padding: 22px; }
    .main__textplace--subtitle {
      font-family: 'Quicksand Regular';
      font-size: 22px;
      padding: 22px; }
  .main__button {
    position: absolute !important;
    bottom: -22px;
    left: 50%;
    transform: translateX(-50%); }

.button {
  width: 200px;
  height: 45px;
  background: #1ABC9C;
  outline: none;
  border: none;
  box-shadow: 0px 0px 0px 7px rgba(26, 188, 156, 0.5);
  font-family: 'Rokkitt';
  font-size: 24px;
  color: #fff;
  text-transform: uppercase;
  overflow: hidden;
  position: relative; }
  .button::before {
    content: "";
    width: 90px;
    height: 80px;
    background: linear-gradient(to left, rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0.1));
    opacity: 0.3;
    transform: skewX(-40deg);
    position: absolute;
    top: -20px;
    left: -150px; }
  .button:hover {
    cursor: pointer; }
    .button:hover::before {
      left: 300px;
      transition: 0.7s; }
  .button:active {
    box-shadow: 0px 0px 0px 7px rgba(34, 246, 204, 0.5); }

.introduction {
  width: 100%;
  height: 130vh;
  max-height: 950px;
  background: #fff;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center; }
  .introduction__inner {
    width: 80%;
    margin: 0 auto 30px;
    display: flex;
    justify-content: space-between;
    align-items: center; }
  .introduction__items {
    text-align: center;
    height: 340px;
    overflow: hidden; }
    .introduction__items--long {
      height: 240px;
      margin-top: 100px;
      width: 60%; }
    .introduction__items--small {
      width: 30%; }
  .introduction__title {
    font-family: 'Myriad Pro Bold';
    color: #1ABC9C; }
    .introduction__title--big {
      font-size: 36px;
      margin-bottom: 40px; }
    .introduction__title--small {
      display: block;
      font-size: 1.2em;
      margin-bottom: 30px; }
  .introduction__text {
    line-height: 1.5em;
    font-size: 1.3em;
    font-weight: 600;
    color: #95A5A6; }
    .introduction__text--small {
      font-size: 1.2em;
      line-height: 1.7em;
      text-align: justify; }
  .introduction__img {
    font-size: 3.5em;
    color: #1ABC9C;
    margin-bottom: 30px; }

.portfolio {
  width: 100%;
  height: 150vh;
  max-height: 1100px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background: #fff; }
  .portfolio__wrap {
    width: 80%;
    height: 100vh;
    max-height: 800px;
    margin: 0 auto;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center; }
  .portfolio__item {
    width: 100%;
    height: 300px;
    overflow: hidden;
    position: relative; }
    .portfolio__item--box {
      width: 47%;
      height: 300px; }
    .portfolio__item::after {
      content: "";
      width: 100%;
      height: 100%;
      background: rgba(224, 183, 181, 0.9);
      position: absolute;
      top: 0;
      left: 0;
      z-index: 10;
      opacity: 0.4;
      transition: 0.3s ease-in-out; }
    .portfolio__item:hover::after {
      opacity: 0; }
    .portfolio__item:hover .portfolio__zoom {
      visibility: visible; }
    .portfolio__item:hover .portfolio__textplace {
      bottom: 0; }
    .portfolio__item--first {
      background: url("../img/rally1.jpg") no-repeat center;
      background-size: cover; }
    .portfolio__item--second {
      background: url("../img/rally2.jpg") no-repeat center;
      background-size: cover; }
    .portfolio__item--three {
      background: url("../img/rally3.jpg") no-repeat center;
      background-size: cover; }
    .portfolio__item--four {
      background: url("../img/rally4.jpg") no-repeat center;
      background-size: cover; }
  .portfolio__zoom {
    width: 40px;
    height: 40px;
    background: #1ABC9C;
    border: 0;
    outline: 0;
    box-shadow: 0px 0px 0px 7px rgba(26, 188, 156, 0.5);
    color: #fff;
    text-align: center;
    line-height: 2.2em;
    font-size: 1.2em;
    position: absolute;
    top: 20px;
    right: 20px;
    z-index: 9999;
    visibility: hidden;
    transition: 0.2s ease-in-out; }
  .portfolio__textplace {
    width: 100%;
    height: 90px;
    background: #1ABC9C;
    position: absolute;
    bottom: -100%;
    left: 0;
    z-index: 999;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    box-shadow: 0px 0px 0px 7px rgba(26, 188, 156, 0.5);
    padding-left: 20px;
    transition: 0.2s ease-in-out; }
  .portfolio__title {
    font-family: 'Rokkitt';
    font-size: 2em;
    font-weight: 300;
    color: #fff; }
  .portfolio__subtitle {
    color: #000;
    font-size: 1.2em; }
  .portfolio__button {
    width: 220px;
    height: 60px;
    margin-bottom: 40px;
    box-shadow: none;
    display: flex;
    justify-content: center;
    align-items: center; }
    .portfolio__button::after {
      content: "\f0a9";
      font-family: 'Font Awesome 5 Free';
      font-weight: 900;
      padding-left: 20px; }

.form {
  width: 100%;
  height: 120vh;
  max-height: 800px;
  background-color: #fff; }
  .form__wrap {
    width: 60%;
    height: 600px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center; }
  .form__title {
    margin-top: 20px;
    font-family: 'Rokkitt';
    color: #1ABC9C;
    font-size: 60px; }
  .form__textplace {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    font-family: 'Myriad Pro Light Condensed'; }
  .form__name, .form__mail {
    width: 48%;
    height: 75px;
    padding: 30px;
    border: none;
    outline: none;
    background: #E4E8E8; }
    .form__name:focus, .form__mail:focus {
      outline: 1px solid #1ABC9C; }
  .form__text {
    margin-top: 30px;
    width: 100%;
    height: 250px;
    resize: none;
    padding: 30px;
    border: none;
    outline: none;
    background: #E4E8E8; }
    .form__text:focus {
      outline: 1px solid #1ABC9C; }
  .form__button {
    margin-top: 20px; }

.footer {
  width: 100%;
  height: 240px;
  background: #1ABC9C;
  position: relative;
  display: flex;
  align-items: flex-end;
  justify-content: center; }
  .footer__wrap {
    width: 80%;
    height: 120px;
    display: flex;
    justify-content: space-between;
    align-items: center; }
  .footer__social {
    display: block;
    width: 90px;
    height: 90px;
    background: #fff;
    box-shadow: 0px 0px 0px 7px rgba(26, 188, 156, 0.5);
    font-size: 40px;
    color: #1ABC9C;
    text-align: center;
    padding-top: 20px; }
    .footer__social:hover {
      color: #22F6CC; }
    .footer__social--inner {
      width: 60%;
      height: 100px;
      position: absolute;
      top: -30px;
      left: 50%;
      transform: translateX(-50%);
      display: flex;
      justify-content: space-between;
      align-items: center; }
  .footer__copy, .footer__imprint {
    color: #fff;
    font-family: 'Rokkitt';
    font-size: 1.3em; }
