@font-face {
  font-family: 'Myriad Pro Light Condensed';
  src: url("../fonts/MyriadPro-LightCond.eot");
  src: url("../fonts/MyriadPro-LightCond.eot") format("embedded-opentype"), url("../fonts/MyriadPro-LightCond.woff") format("woff"), url("../fonts/MyriadPro-LightCond.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Myriad Pro Bold';
  src: url("../fonts/MyriadPro-Bold.eot");
  src: url("../fonts/MyriadPro-Bold.eot") format("embedded-opentype"), url("../fonts/MyriadPro-Bold.woff") format("woff"), url("../fonts/MyriadPro-Bold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Rokkitt';
  src: url("../fonts/rokkitt.ttf");
  src: url("../fonts/rokkitt.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Quicksand Regular';
  src: url("../fonts/Quicksand-Regular.eot");
  src: url("../fonts/Quicksand-Regular.eot") format("embedded-opentype"), url("../fonts/Quicksand-Regular.woff") format("woff"), url("../fonts/Quicksand-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

body {
  font-family: 'Myriad Pro Light Condensed';
  background: url("../img/back/bg-light-4860.png") repeat; }

.wrap {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  overflow: hidden; }

::-webkit-scrollbar {
  width: 8px;
  border-radius: 5px;
  box-shadow: inset 0px 0px 4px rgba(0, 0, 0, 0.3);
  background-color: rgba(229, 67, 99, 0.5); }

::-webkit-scrollbar-thumb {
  width: 8px;
  border-radius: 5px;
  box-shadow: inset 0px 0px 4px rgba(0, 0, 0, 0.4);
  background-color: #1ABC9C; }

.scroll-up {
  position: fixed;
  z-index: 9999;
  bottom: 50px;
  right: 120px;
  display: none;
  width: 35px;
  height: 35px;
  box-shadow: 0px 0px 0px 5px #FF8EA5;
  background: #fff; }
  .scroll-up::before {
    content: "\f077";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    display: block;
    text-align: center;
    font-size: 1.5em;
    line-height: 1.45em;
    color: #FF8EA5; }
  .scroll-up:hover {
    cursor: pointer; }
  .scroll-up:hover.scroll-up::before {
    color: #1ABC9C; }

.main {
  width: 100%;
  height: 100vh;
  min-height: 568px;
  max-height: 1366px;
  background: url("../img/back/main-back.jpg") no-repeat center;
  background-size: cover;
  position: relative; }
  .main__header {
    width: 80%;
    height: 120px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-transform: uppercase; }
    .main__header--close {
      position: absolute;
      top: 10px;
      right: 10px;
      color: #fff;
      font-size: 1.3em; }
      .main__header--close:hover {
        cursor: pointer; }
    .main__header--logo {
      text-decoration: none;
      font-size: 1.4em;
      color: #fff;
      font-weight: bold; }
    .main__header--burger {
      font-size: 2em;
      color: #fff; }
      .main__header--burger:hover {
        color: #1ABC9C;
        cursor: pointer; }
    .main__header--menu {
      position: absolute;
      top: -100%;
      right: 0;
      width: 100%;
      min-height: 120px;
      box-shadow: 0px 0px 0px 15px rgba(26, 188, 156, 0.5);
      background: linear-gradient(to right, rgba(26, 188, 156, 0.6), #1abc9c);
      transition: 0.2s ease-in-out; }
      .main__header--menu-active {
        top: 0; }
    .main__header--inner {
      width: 80%;
      height: 120px;
      margin: 0 auto;
      display: flex;
      justify-content: flex-end;
      align-items: center; }
    .main__header--list {
      width: 100%;
      display: flex;
      justify-content: flex-end; }
    .main__header--item {
      list-style: none;
      margin-right: 2em; }
      .main__header--item:last-child {
        margin-right: 0; }
    .main__header--link {
      color: #fff;
      font-weight: bold;
      font-size: 1.3em;
      text-decoration: none; }
      .main__header--link:hover {
        text-decoration: underline; }
      .main__header--link-blue {
        color: #000; }
  .main__textplace {
    width: 55%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #fff; }
    .main__textplace--title {
      border-bottom: 1px solid #fff;
      font-family: 'Rokkitt';
      font-weight: 500;
      font-size: 4em;
      padding-bottom: 22px; }
    .main__textplace--subtitle {
      font-family: 'Quicksand Regular';
      font-size: 1.4em;
      margin-top: 22px; }
  .main__button {
    position: absolute !important;
    bottom: -22px;
    left: 50%;
    transform: translateX(-50%); }

@media (max-width: 1100px) {
  .main__textplace--title {
    font-size: 3em; }
  .main__textplace--subtitle {
    font-size: 1.2em; } }

@media (max-width: 830px) {
  .main__textplace--title {
    font-size: 2.5em; }
  .main__textplace--subtitle {
    font-size: 1.0em; } }

@media (max-width: 680px) {
  .main__textplace {
    width: 65%; }
  .main__header--menu {
    background: #1ABC9C; }
  .main__header--list {
    justify-content: space-between; }
  .main__header--item {
    margin-right: 0; } }

@media (max-width: 580px) {
  .main__textplace {
    width: 75%; } }

@media (max-width: 470px) {
  .main__header {
    width: 90%; }
  .main__textplace--title {
    padding-bottom: 10px;
    font-size: 2em; }
  .main__textplace--subtitle {
    font-size: 0.9em;
    margin-top: 10px; } }

@media (max-width: 380px) {
  .main__textplace--title {
    font-size: 1.7em; }
  .main__textplace--subtitle {
    font-size: 0.8em; }
  .main__header--link {
    font-size: 1em; }
  .main__header--logo {
    font-size: 1.2em; }
  .main__header--burger {
    font-size: 1.8em; } }

@media (max-width: 330px) {
  .main__textplace--title {
    font-size: 1.5em; }
  .main__textplace--subtitle {
    font-size: 0.6em; } }

@media (max-width: 270px) {
  .main__header--link {
    font-size: 0.8em; } }

.button {
  width: 200px;
  height: 45px;
  background: #1ABC9C;
  outline: none;
  border: none;
  box-shadow: 0px 0px 0px 7px rgba(26, 188, 156, 0.5);
  font-family: 'Rokkitt';
  font-size: 1.5em;
  color: #fff;
  text-transform: uppercase;
  overflow: hidden;
  position: relative; }
  .button::before {
    content: "";
    width: 90px;
    height: 80px;
    background: linear-gradient(to left, rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0.1));
    opacity: 0.3;
    transform: skewX(-40deg);
    position: absolute;
    top: -20px;
    left: -150px; }
  .button:hover {
    cursor: pointer; }
    .button:hover::before {
      left: 300px;
      transition: 0.7s; }
  .button:active {
    box-shadow: 0px 0px 0px 7px rgba(34, 246, 204, 0.5); }

@media (max-width: 320px) {
  .button {
    width: 150px;
    height: 35px;
    font-size: 1em; } }

.introduction {
  width: 100%;
  background: #fff;
  padding-top: 6.2em;
  padding-bottom: 3.1em; }
  .introduction__inner {
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center; }
  .introduction__items {
    text-align: center; }
    .introduction__items--long {
      margin: 0 auto 3.5em;
      width: 60%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center; }
    .introduction__items--small {
      width: 30%; }
  .introduction__title {
    font-family: 'Myriad Pro Bold';
    color: #1ABC9C; }
    .introduction__title--big {
      font-size: 2.2em;
      margin-bottom: 2.5em; }
    .introduction__title--small {
      display: block;
      font-size: 1.2em;
      margin-bottom: 1em; }
  .introduction__text {
    line-height: 1.5em;
    font-size: 1.3em;
    font-weight: 600;
    color: #95A5A6; }
    .introduction__text--small {
      font-size: 1.2em;
      line-height: 1.7em;
      text-align: justify; }
  .introduction__img {
    font-size: 3.5em;
    color: #1ABC9C;
    margin-bottom: 0.9em; }

@media (max-width: 830px) {
  .introduction__inner {
    flex-direction: column; }
  .introduction__items--long {
    width: 80%; }
  .introduction__items--small {
    width: 100%;
    margin-bottom: 2em; }
  .introduction__title--big {
    margin-bottom: 1.5em; }
  .introduction__title--small {
    margin-bottom: 1em; }
  .introduction__img {
    margin-bottom: 0.5em; }
  .introduction__text--small {
    text-align: center; } }

@media (max-width: 425px) {
  .introduction__items--long {
    width: 90%; }
  .introduction__inner {
    width: 90%; }
  .introduction__text {
    text-align: justify; }
    .introduction__text--small {
      text-align: justify; } }

.portfolio {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background: #fff;
  padding-bottom: 50px; }
  .portfolio__wrap {
    width: 80%;
    min-height: 700px;
    margin: 3.2em auto;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center; }
  .portfolio__item {
    width: 100%;
    height: 300px;
    overflow: hidden;
    position: relative; }
    .portfolio__item--box {
      width: 47%;
      height: 300px; }
    .portfolio__item::after {
      content: "";
      width: 100%;
      height: 100%;
      background: rgba(224, 183, 181, 0.9);
      position: absolute;
      top: 0;
      left: 0;
      z-index: 10;
      opacity: 0.4;
      transition: 0.3s ease-in-out; }
    .portfolio__item:hover::after {
      opacity: 0; }
    .portfolio__item:hover .portfolio__zoom {
      visibility: visible; }
    .portfolio__item:hover .portfolio__textplace {
      bottom: 0; }
    .portfolio__item--first {
      background: url("../img/rally1.jpg") no-repeat center;
      background-size: cover; }
    .portfolio__item--second {
      background: url("../img/rally2.jpg") no-repeat center;
      background-size: cover; }
    .portfolio__item--three {
      background: url("../img/rally3.jpg") no-repeat center;
      background-size: cover; }
    .portfolio__item--four {
      background: url("../img/rally4.jpg") no-repeat center;
      background-size: cover; }
  .portfolio__zoom {
    width: 40px;
    height: 40px;
    background: #1ABC9C;
    border: 0;
    outline: 0;
    box-shadow: 0px 0px 0px 7px rgba(26, 188, 156, 0.5);
    color: #fff;
    text-align: center;
    line-height: 2.2em;
    font-size: 1.2em;
    position: absolute;
    top: 20px;
    right: 20px;
    z-index: 9999;
    visibility: hidden;
    transition: 0.2s ease-in-out; }
  .portfolio__textplace {
    width: 100%;
    height: 90px;
    background: #1ABC9C;
    position: absolute;
    bottom: -100%;
    left: 0;
    z-index: 999;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    box-shadow: 0px 0px 0px 7px rgba(26, 188, 156, 0.5);
    padding-left: 1.2em;
    transition: 0.2s ease-in-out; }
  .portfolio__title {
    font-family: 'Rokkitt';
    font-size: 2em;
    font-weight: 300;
    color: #fff; }
  .portfolio__subtitle {
    color: #000;
    font-size: 1.2em; }
  .portfolio__button {
    width: 220px;
    height: 60px;
    box-shadow: none;
    display: flex;
    justify-content: center;
    align-items: center; }
    .portfolio__button::after {
      content: "\f0a9";
      font-family: 'Font Awesome 5 Free';
      font-weight: 900;
      padding-left: 1.2em; }
    .portfolio__button:active {
      box-shadow: none;
      outline: 1px solid #22F6CC; }

@media (max-width: 1024px) {
  .portfolio__item:hover .portfolio__zoom {
    visibility: hidden; }
  .portfolio__item:hover .portfolio__textplace {
    bottom: -100%; } }

@media (max-width: 830px) {
  .portfolio__wrap {
    min-height: 1300px;
    flex-flow: column nowrap; }
  .portfolio__item--box {
    width: 100%; }
  .portfolio__button {
    margin-bottom: 20px; } }

@media (max-width: 425px) {
  .portfolio__wrap {
    width: 90%;
    min-height: 900px; }
  .portfolio__item {
    height: 200px; }
    .portfolio__item--box {
      height: 200px; }
  .portfolio__button {
    width: 160px;
    height: 50px;
    font-size: 1em; } }

.form {
  width: 100%;
  background-color: #fff;
  padding: 3.1em 0 9.3em; }
  .form__wrap {
    width: 60%;
    min-height: 600px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center; }
  .form__title {
    font-family: 'Rokkitt';
    color: #1ABC9C;
    font-size: 4.5em;
    text-align: center; }
  .form__textplace {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    font-family: 'Myriad Pro Light Condensed'; }
  .form__name, .form__mail {
    width: 48%;
    height: 75px;
    padding: 1.8em;
    border: none;
    outline: none;
    background: #E4E8E8; }
    .form__name:focus, .form__mail:focus {
      outline: 1px solid #1ABC9C; }
  .form__text {
    margin-top: 1.8em;
    width: 100%;
    height: 250px;
    resize: none;
    padding: 1.8em;
    border: none;
    outline: none;
    background: #E4E8E8; }
    .form__text:focus {
      outline: 1px solid #1ABC9C; }

@media (max-width: 750px) {
  .form__wrap {
    width: 80%;
    min-height: 700px; }
  .form__title {
    font-size: 4em; }
  .form__textplace {
    flex-flow: column nowrap; }
  .form__name, .form__mail {
    width: 100%;
    margin-bottom: 1.8em; }
  .form__text {
    margin-top: 0; } }

@media (max-width: 425px) {
  .form__wrap {
    width: 90%; }
  .form__title {
    font-size: 2.5em; } }

.footer {
  width: 100%;
  min-height: 240px;
  background: #1ABC9C;
  position: relative;
  display: flex;
  align-items: flex-end;
  justify-content: center; }
  .footer__wrap {
    width: 80%;
    height: 120px;
    display: flex;
    justify-content: space-between;
    align-items: center; }
  .footer__social {
    display: block;
    width: 90px;
    height: 90px;
    background: #fff;
    box-shadow: 0px 0px 0px 7px rgba(26, 188, 156, 0.5);
    font-size: 3em;
    color: #1ABC9C;
    text-align: center;
    line-height: 2em; }
    .footer__social:hover {
      color: #22F6CC; }
    .footer__social--inner {
      width: 60%;
      height: 100px;
      position: absolute;
      top: -30px;
      left: 50%;
      transform: translateX(-50%);
      display: flex;
      justify-content: space-between;
      align-items: center; }
  .footer__copy, .footer__imprint {
    color: #fff;
    font-family: 'Rokkitt';
    font-size: 1.3em; }

@media (max-width: 650px) {
  .footer__social--inner {
    width: 80%; } }

@media (max-width: 500px) {
  .footer__social {
    width: 60px;
    height: 60px;
    font-size: 2em;
    line-height: 1.8em; } }

@media (max-width: 500px) {
  .footer__wrap {
    width: 90%; } }
