.form
  width: 100%
  height: 120vh
  max-height: 800px
  background-color: #fff
  &__wrap
    width: 60%
    height: 600px
    margin: 0 auto
    display: flex
    flex-direction: column
    justify-content: space-between
    align-items: center
  &__title
    margin-top: 20px
    +rokk
    color: $main
    font-size: 60px
  &__textplace
    width: 100%
    display: flex
    flex-flow: row wrap
    justify-content: space-between
    align-items: center
    +main
  &__name, &__mail
    width: 48%
    height: 75px
    padding: 30px
    border: none
    outline: none
    background: #E4E8E8
  &__text
    margin-top: 30px
    width: 100%
    height: 250px
    resize: none
    padding: 30px
    border: none
    outline: none
    background: #E4E8E8
  &__button
    margin-top: 20px
